body{
    text-align: center;
    background-color: skyblue;
}
.borderchild
{
    border: 2px solid #6e6e6e;
    padding: 10px;
    margin-right: 25%;
    margin-left: 25%;
    color: white;
    font-size: 18px;
    background-color: #6e6e6e;
}
.parachild{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pagechild{
    column: #8c8c8c;
}
.listchild{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.buttonchild{
    float: right;
    padding: 8px;
    background-color: #6e6e6e;
    border: 5px solid rgb(red, green, blue);
}
